body {
    scroll-behavior: smooth;
}

.container {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 400px;
    height: 300px;

    display: flex;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.image-slider {
    margin: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    width: 10px;
    height: 10px;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 50%;
    margin: 5px;
}

.slide-anim {
    animation: slide;
    animation-duration: 0, 5s;
    animation-direction: normal;
}

.button-active {
    background-color: rgb(131, 131, 131);
    border;
}

@keyframes slide {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-400px);
    }
}